.deleteMe{
    height: 200px;
    width: 200px;
    background-color: purple;
    transition: transform 1s ease-out;
    margin-left: 15em;
}
.movedRight{
    transform: translateX(200px);
}
.movedLeft{
    transform: translateX(-200px);
}
.deleted{
    display: none;
}
p{
    text-align: center;
    color: white;
}